body {
    background-color: rgb(245, 245, 245) !important;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.container {
    max-width: 900px !important;
}

.hello {
    margin-bottom: 20px;
    align-content: center;
}

header {
    margin: 50px 0 40px 0;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
}


@media screen and (max-width: 600px) {
    .sub-title {
        display: block;
    }
}

footer {
    margin: 20px;
}

.error {
    color : red;
}
