{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron well">
            <h1>
                {{ book.title }}
            </h1>
            <p>
                作者：{{ book.author }}
            </p>
            <p>
                年份：{{ book.year }}
            </p>
            <p>
                ISBN：{{ book.isbn }}
            </p>
            <p>
                <a role="button" class="btn btn-primary" href="{{ url_for('panel') }}">返回搜索页</a>
            </p>
    </div>
    <div class="hello-form">
            <form action="{{ request.full_path }}" method="post" class="form" role="form">
                {{ form.csrf_token }}

                <div class="form-group required">
                    {{ form.body.label(class="form-control-label") }}
                    {{ form.body(class="form-control") }}
                    {% for msg in form.body.errors %}
                        <small class="error">{{ msg }}</small>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn btn-primary") }}
                <a role="button" href="{{ url_for('index') }}" class="btn btn-secondary">返回</a>

    </form>
    <br>
    <h5>{{ reviews|length }} 条评论
    </h5>
    <div class="list-group">
        {% for message in reviews %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ message.username }} :
                    </h5>
                </div>
                <p class="mb-1">{{ message.body }}</p>
            </a>
        {% endfor %}
    </div>
    <br>
{% endblock %}