{% extends 'base.html' %}

{% block content %}
    <div class="hello">
        <div class="hello-form">
            <form action="{{ action}}" method="post" class="form" role="form">
                {{ form.csrf_token }}

                <div class="form-group required">
                    {{ form.isbn.label(class="form-control-label") }}
                    {{ form.isbn(class="form-control") }}
                    {% for msg in form.isbn.errors %}
                        <small class="error">{{ msg }}</small>
                    {% endfor %}
                </div>

                <div class="form-group required">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control") }}
                    {% for msg in form.title.errors %}
                        <small class="error">{{ msg }}</small>
                    {% endfor %}
                </div>

                <div class="form-group required">
                    {{ form.author.label(class="form-control-label") }}
                    {{ form.author(class="form-control") }}
                    {% for msg in form.author.errors %}
                        <small class="error">{{ msg }}</small>
                    {% endfor %}
                </div>

                <div class="form-group required">
                    {{ form.year.label(class="form-control-label") }}
                    {{ form.year(class="form-control") }}
                    {% for msg in form.year.errors %}
                        <small class="error">{{ msg }}</small>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn btn-primary") }}
                <a role="button" href="{{ url_for('index') }}" class="btn btn-secondary">返回</a>

            </form>
        </div>
    </div>
{% endblock %}